.containerBox {
  background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
  border: 1px solid rgba(33, 35, 167, 0.5);
  width: 100%;
}

.baseContainer {
  background: #e6e7e9; /* Light bluish-gray tone similar to Kiln */
  color: #000000; /* Ensure text contrast for readability */
}

.containerBase {
  background-repeat: repeat;
  opacity: 0.2;
  background-blend-mode: hard-light;
  background-size: 350px;
}

.topContainer {
  border-bottom: 1px solid rgba(33, 35, 167, 0.5);
}
