.baseContainer {
  background: #e6e7e9;
  color: #000000;
}

.containerBase {
  background-repeat: repeat;
  opacity: 0.2;
  background-blend-mode: hard-light;
  background-size: 350px;
}

.containerBox {
  background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
  width: 100%;
}
